.container {
  padding: 40px;
  background-color: chartreuse;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.goride,
.gocar,
.gosend,
.gobox {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  width: 150px;
}
